 <section id="question1" class="home-section parallax">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="color-light">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s">Is BYX trying to be the church?</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s">Brothers Under Christ is a fraternity of college men coming together under the common bond of Jesus Christ. We are not the church, nor do we aspire to be. We strongly encourage our members to be a part of a local congregation, growing along with the body of Christ. While we do strive to develop brotherhood and unity among Christian college men, we should in no way be considered a substitute for the Bride of Christ. BYX is a Christian social fraternity were men of faith can gather to challenge each other spiritually in brotherhood and impact the campus socially. BYX Purdue members are involved in, not just attendees of, a multitude of Lafayette/West Lafayette churches.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 <section id="question2" class="home-section parallax">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="color-light">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s">What about alcohol?</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s">We do not allow alcohol at any BYX-sponsored events or parties. Though we do not regard the consumption of alcohol in and of itself as sin, we do require our members to abstain from drinking alcohol in Tippecanoe county as an active member. We do this for two reasons: first, to promote unity among our members that are both younger and older than 21 years of age. Secondly, we as Christians are called biblically to be above reproach and this is one way that we have chosen to do that during our time in college.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 <section id="question3" class="home-section parallax">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="color-light">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s">What about hazing?</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s">The purpose of BYX is to promote unity and brotherhood within the fraternity based on the common bond of Jesus Christ. This is accomplished without emotional or physical punishment, abuse, or humiliation. Our members are constantly striving to live a Christian witness, promoting the name of Jesus through service to both member and new members or those pledging the fraternity.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

 <section id="question4" class="home-section parallax">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="color-light">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s">Cost?</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s">The cost of living at BYX – Fairway is a fraction of the cost of other fraternities/sororities because of our cooperative living arrangements. Since we have no cleaning staff or chefs, costs are reduced dramatically. Cost specifics are provided at all rush events or can be obtained upon request. Please feel free contact our chapter for cost-related or any other questions you may have!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
